html {
  background: url(Photos/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stuff {
  background-color: rgba(0,0,0,0.7);
  text:color:white;
  color: white;
  padding: 30px;
  margin: 0 auto;
}
